.vscode/**
.vscode-test/**
src/**
**/*.map
**/*.ts
!out/extension.js
tsconfig.json
package-lock.json
*.vsix
PUBLISH.md
ICON-TODO.md
.gitignore
node_modules/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/semver/**

